= render "form"

%hr

- if @restaurant.errors.any?
  %section#errors
    %strong
      = pluralize @restaurant.errors.count, "error"
      prohibited this restaurant from being saved:
    %ul
      - @restaurant.errors.full_messages.each do |message|
        %li= message
